{:version      {:major 3
                :minor 2
                :patch 2}
 :version-type :semver3
 :changes      {:added      []
                :changed    []
                :deprecated []
                :removed    []
                :fixed      ["Updated the organization name in the POM file to `Wall Brew Co.`"]
                :security   []}
 :timestamp    "2024-09-14T15:36:26.696224333Z"}
