*.DS_Store
*.calva
*.class
*.iml
*.jar
._*
.clj-kondo/.cache/
.cpcache/
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp/
.nrepl-port
.rebel_readline_history
.repl
.yagni
/brew-bot-*/
/checkouts
/checkouts/
/classes
/classes/
/lib
/lib/
/node_modules
/out
/resources/public/js/compiled/**
/resources/test/**
/target
/target/
doo-index.html
figwheel_server.log
pom.xml.asc
