*.class
*.iml
*.jar
.DS_Store
.DS_Store?
._*
.bikeshed
.eastwood
.hg/
.hgignore
.lein-deps-sum
.lein-plugins/
.lein-repl-history
.nrepl-port
.repl
.yagni
/.idea
/.lein-*
/.nrepl-port
/checkouts
/classes
/classes/
/lib/
/out/
/resources/public/js/compiled/**
/resources/test/**
/target
/target/
figwheel_server.log
pom.xml
pom.xml.asc
/node_modules
/node_modules/
/brew-bot-*/
doo-index.html
