*.class
*.iml
*.jar
*.DS_Store
._*
.hg/
.hgignore
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.repl
.rebel_readline_history
.yagni
/brew-bot-*/
/checkouts
/classes
/lib
/node_modules
/out
/resources/public/js/compiled/**
/resources/test/**
/target
doo-index.html
figwheel_server.log
pom.xml
pom.xml.asc
*.calva
