name: Clojure Tests

on: ["push", "workflow_dispatch", "pull_request"]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3.1.0

    - name: Cache maven dependencies
      uses: actions/cache@v3
      env:
          cache-name: cache-maven
      with:
          path: ~/.m2
          key: ${{ runner.os }}-clj-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-clj

    - name: Install Clojure dependencies
      run: lein deps

    - name: Run all tests
      run: lein test
