name: Clojurescript CI

on: ["push", "workflow_dispatch"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Install Clojure/ClojureScript dependencies
      run: lein deps
    - name: Install node.js dependencies
      run: npm install
    - name: Run tests
      run: lein test-build
